.left-side-portion h2{
	color: #D69E2F;
	background: #F1DFB9;
	padding: 18px;
	margin-left: -22px;
	margin-right: -22px;
}

.left-side-portion p {
	text-align: left;
	margin-left: -20px;
	margin-right: -20px;
	line-height: 1 !important;
}	

.sidebar-right {
border-right: 1px solid #DEDEDE;
}
.steps.sidebar-left{
	padding-left: 30px;
}

.right-side-portion h2 {
	text-align: left;
	color: #D69E2F;
}

.right-side-portion h3 {
	color: black;
	background: #E5E5E5;
	padding: 18px;
	margin-left: 0px;
	margin-right: -22px;
	font-size: 16px;
}
.options-steps {
	background: #DEDEDE;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.options-steps.selected {
	background: #D69E2F;
}

.WhyChoose .row{
	font-weight: 600;
	font-size: 16px;
}

.signup-as-underline {
	color: black !important;
	font-size: 25px;
	text-decoration: underline;
}

.radio-button-group-customer-type-signups {
	font-size: 16px;
}
.how-you-heard-about-us {
	color: black !important;
	font-size: 25px;
}

.btn.orange-button {
	color: #fff;
	background-color: #D69E2F;
	border-color: #D69E2F;
	width: 150px;
}

.login-signup-as {
	position: relative;
	top: 20px;
	background: #EFEFEF;
	width: 470px;
	border-radius: 10px;
	border-color: #201D1D;
	padding-top: 10px;
}
.login-signup-as .in-line2{
	position: absolute;
	top: 10px;
	left: 165px;
}
.login-signup-as .control-label,
.login-signup-as .form-control{
	width: 40%;	
	width: 140px;
}

.login-signup-as .btn {
	position: absolute;
	right: 16px;
	top: 36px;
}